* {
  margin: 0;
}

input {
  width: 160px;
  padding: 6px 20px;
  background: #faf9f9;
  border: 0.5px solid #b4afaf;
  border-radius: 3%;
}

.app {
  background-color: #fafafa;
}

.app__posts {
  display: flex;
  flex-direction: row;
}
.app__postsLeft {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app__postsRight {
  margin-left: 20px;
}

.app__header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app__headerImage {
  object-fit: contain;
  flex: 0;
  /* cursor: pointer; */
}

.app__loginContainer {
  display: flex;
  float: right;
}

.app__signup {
  display: flex;
  flex-direction: column !important;
  row-gap: 0.75rem;
}

.signup__input::placeholder {
  text-align: left !important;
  font-size: 17px !important;
  letter-spacing: 0.1rem;
}

.app__signin {
  display: flex;
  flex-direction: column !important;
  row-gap: 0.75rem;
}

.header_icons {
  /* position: absolute; */
  right: 19%;
}

.header_icon:first-child {
  color: #e41c47;
}

.header_icon {
  margin-right: 10px;
  color: #252222;
}

.header_icon:hover {
  color: #e41c47;
}

.MuiButton-containedSecondary {
  color: #fff;
  background-color: #f50057 !important;
}

.signInLabelImg {
  width: 70px;
  margin-left: -2%;
}

.signInLabelText {
  font-size: 11px;
  text-align: justify;
  line-height: 0.7rem;
  letter-spacing: 0.01rem;
  width: 95%;
}

.signInLabel {
  display: flex;
  align-items: center;
}

.signInButton {
  margin-right: 0.5rem !important;
}

@media (max-width: 768px) {
  .no-mobile {
    display: none;
  }

  .header_icons {
    display: none;
  }

  .app__posts {
    padding-left: 0px;
    padding-right: 0px;
  }
}
