* {
  margin: 0;
}

input {
  width: 160px;
  padding: 6px 20px;
  background: #faf9f9;
  border: 0.5px solid #b4afaf;
  border-radius: 3%;
}

.app {
  background-color: #fafafa;
}

.app__posts {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app__postsRight {
  margin-left: 20px;
}

.app__header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app__headerImage {
  object-fit: contain;
  flex: 0;
  /* cursor: pointer; */
}

.app__loginContainer {
  display: flex;
  float: right;
}

.app__signup {
  display: flex;
  flex-direction: column !important;
  row-gap: 0.75rem;
}

.signup__input::placeholder {
  text-align: left !important;
  font-size: 17px !important;
  letter-spacing: 0.1rem;
}

.app__signin {
  display: flex;
  flex-direction: column !important;
  row-gap: 0.75rem;
}

.header_icons {
  position: absolute;
  right: 19%;
}

.header_icon:first-child {
  color: #e41c47;
}

.header_icon {
  margin-right: 10px;
  color: #252222;
}

.header_icon:hover {
  color: #e41c47;
}

.MuiButton-containedSecondary {
  color: #fff;
  background-color: #f50057 !important;
}

.signInLabelImg {
  width: 70px;
}

.signInLabelText {
  font-size: 11px;
  text-align: justify;
  line-height: 0.7rem;
  letter-spacing: 0.01rem;
  width: 95%;
}

.signInLabel {
  display: flex;
  align-items: center;
}

footer {
  grid-template-columns: 0 1fr 0;
  position: sticky;
  bottom: 0;
  width: 100%;
  border-top: 1px solid lightgray;
  height: 60px;
  max-height: 60px;
  background-color: white;
  text-align: center;
  justify-content: center;
  justify-content: space-between;
  object-fit: contain;
}

footer h4 {
  margin-top: 20px;
}

.footer__icons {
  display: flex;
}

.app__add-postImg,
.app__home {
  cursor: pointer;
  background-color: transparent;
}

.footer__left {
  flex: 0;
}

.app__home {
  height: 30px;
  padding-top: 10px;
  padding-left: 20px;
  float: left;
}

.footer__middle {
  flex: 1;
}

.footer__middle Button {
  flex: 1;
  padding-top: 15px;
}

.app__add-postImg {
  height: 30px;
  padding-top: 10px;
}

.footer__right {
  flex: 0;
}

.footer__avatar {
  color: #008000;
  margin-top: 10px;
  margin-right: 20px;
  max-height: 30px;
  max-width: 30px;
  cursor: pointer;
}

.post__thumbs {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: auto auto auto;
}

@media (max-width: 768px) {
  .no-mobile {
    display: none;
  }

  .header_icons {
    display: none;
  }

  .app__posts {
    padding-left: 0px;
    padding-right: 0px;
  }
}
